#result{
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
}
.company{
    margin-top: 5px;
    font-family: Cambria;
}
.review{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #342E2E !important;
    color: white;
    cursor: pointer;
}
.star{
    font-size: 25px;
}
.rate{
    font-size: 20px;
}
.remain{
    font-size: 25px;
    opacity: 0.7;
}
.card{
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px;
}
.ratethis{
    border: 0px;
    margin-top: 10px;
    width: 100px;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#fullScreen{
    background-color: black;
    text-align: left;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
}

#user_typed_company{
    border: 0px;
    border-bottom: 1px solid white;
    background-color: black;
    outline: none;
    color: white;
    width: 70vw;
    font-size: 1.7em;
}

#user_typed_company:focus{
    border: 0px;
    border-bottom: 1px solid white;
}

#companyButton{
    font-size: 1.2em;
    margin-top: 20px;
    /* border: 0px;
    outline: 0px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px; */
    border-radius: 5px;
    /* color: white; */
}
.headCol{
    color: white;
    text-align: left;
    margin-bottom: 5vh;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 90vw !important;
    }
    .insidecontainer{
        width: 100vw !important;
    }
    #result{
        width: 100vw;
    }
}